import React from 'react';
import style from './{{pascalCase name}}.scss';

const {{pascalCase name}} = () => {
  return (
    <div className={style.root}>
      {{!-- Component content --}}
    </div>
  );
};

export default {{pascalCase name}};
